<div class="container">
  <div class="row row-cols-1 row-cols-md-4">
    <div
      *ngFor="let item of [].constructor(12); let i = index"
      class="col mb-4"
    >
      <div class="card">
        <img
          src="../../assets/images/electronics/{{ i + 1 }}.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
